@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.ligo {
    width: 500px; 
    height: 50px;}
header
{
background-color: #f4f4f4;
width: 100%;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 8px 150px;
}
.logo{
text-decoration: none;
color: #333;
text-transform: uppercase;
font-size: 1.8em;
font-weight: 700;
}
.navg a{
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    padding: 25px;
    text-transform: uppercase;
    transition: color 0.3s;
}
.navg a:hover
{
    color: #7a43e9;
}
section{
    padding: 50px 100px;
}
.sec_1{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #e5e5f1;
}
.sec_1 h2{
    color:#7a43e9;
    font-size: 1.9em;
    font-weight: 600;
}
.sec_1 h3{
    padding-right:600px;
    color: #333;
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 25px;

}
.mycv{
height: auto;
width: 170px;
text-decoration: none;
color: #ffffff;
background-color:#7a43e9;
font-weight: 400;
font-size: 1.1em;
padding: 0.9375em 2.1875em;
letter-spacing: 1px;
border-radius: 15px;
transition: 0.7S;
display: flex;
}
.mycv:hover{
background-color: #360068;
transform: translateY(-10px); 
}
.facebook{
margin-top: 15px;
}
.fb{
font-size: 2.2em;
margin-right: 10px;
text-decoration: none;
color: #333;
transition: color 0.35s;
padding-left: 10px;
}
.fb:hover {
color: #7a43e9;
}
.carts{
    background-color: #e5e5f1;
}
.title{
display: flex;
justify-content: center;
color: #111;
font-size: 2.0em;
margin-bottom: 30px;
text-transform: uppercase;
}
.hr{

    border: none;
    border-top:5px solid #7a43e9 ;
    width: 25px;
    margin:22px auto;
    border-radius:10px;
    margin-top: -15px;
}
.cont{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.cart{
    
    background-color: #f4f4f4;
    width: 21.22em;
    box-shadow: 0 5px 25px rgba(1, 1,1,50%);
    border-radius: 10px;
    padding: 29px;
    margin: 25px;
    transition: 0.7s ease-in-out;
}.cart:hover{
    transform: scale(1.1);
}
.icon{
    color: #333;
    transition: color 0.4s;
    font-size: 49px;
    display: flex;
    justify-content: center;
    margin-top: -2px;
    margin-bottom: 35px;
}
.icon :hover{
    color: #7a43e9;
}
.info{
    text-align: center;
}
.info h3{
    color: #7a43e9;
    margin-top: -15px;
    margin-bottom: 15px;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}
.project{
    background-color: #e5e5f1;
}
.coming-soon {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 90px;
    font-weight: bold;
    color: #7a43e9;
    animation: colorChange 1.5s infinite alternate;
}
.contate{
    background-color: #e5e5f1;
}

@keyframes colorChange {
    0% {
        color: #895de2;
    }
    100% {
        color: #1b0035;
    }
}
.contate .icon{
    font-size: 1.7em;
}
.contate .info h3{
font-size: 1.6em;
font-weight: 680;
color: #111;
font-family:serif;
}
.contate .info p{
    font-weight: 500;
    font-size: 1.4em;
    color: #1d1d1d;
    font-family: Arial, Helvetica, sans-serif;
}
.fot{
    display: block;
    background-color: #000000;
    color: #eee;
    padding: 2em;
    display: flex;
    justify-content: center;
}
.fot .copyright{
    font-size: 1.3em;
    margin-top:10px ;
    font-weight: 600;
}.fot span{
    color: #895de2;

}
.t1{
    border: none;
    border-top:2px solid #333 ;
    width: 100%;
    margin:16px;
    border-radius:10px;
    margin-top: 15px;
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
.navg a{
    padding-left: 10px;
}
.title{
    font-size: 1.8em;
}
section {
    padding: 80px 20px;
}
.cont{
    flex-direction: column;
    align-items: center;
}
.sec_1 h2{
font-size: 1em;
}
.sec_1 h3{
    font-size: 1.5em;
}
}
@media (max-width:641px){
    body{
        font-size: 12px;
    }
    .sec_1 h2{
        font-size: 0.8em;
    }
    .sec_1 h3{
        font-size: 1.39em;
    }
}
@media (max-width:300px){
body {
    font-size: 10px;
}
}





